name: snipeit

on: 
  push:
    branches: main
  
jobs:
  deploy:

    runs-on: ubuntu-latest 

    steps:
         # Runs a set of commands using the runners shell
      - name: executing remote ssh commands using ssh key
        uses: appleboy/ssh-action@master
        with:
          host: 52.202.213.52
          username: ubuntu
          key: ${{ secrets.PRIVATEKEY }}
          port: 22
           
          script: |
            whoiam
            pwd
            git clone https://github.com/kesarivamshi/Snipe-IT.git
            cd /home/ubuntu/Snipe-IT
            git pull origin main
            docker-compose up -d
